.cabeçalho__menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 15px;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}
.container__img{
    padding: 0.7em;
}

.container_img_logo{
    padding-left: 0.7em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~ .lista-menu{
    display: block;
}

.lista-menu__titulo{
    padding: 1em;
    background-color: var(--branco);
    color: var(--cor--fonte--titulo);
    font-weight: 700;

}

.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    
}

.lista-menu__link{
    text-decoration: none;
    background: var(--cor--fonte--azul);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container__botao{
    display: none;
}
