:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --cor--fonte--titulo: #EB9B00;
    --cor--fonte--azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --cor--azul: #002F52;

}

