.cadastro{
    padding: 1.5em 1em;
    background-color: var(--branco);
}
.cadastro__titulo{
    background: linear-gradient(9797.54deg, #002f52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: 500;  
    
}

.cadastro__descrição{
    background: linear-gradient(9797.54deg, #002f52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    font-weight: 300;  
    margin: 1em 0;
}

.cadastro__email{
    padding: 1em;
    border: 1px solid var(--cor--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--cor--azul);

}

.cadastro__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor--azul);
    background: url("../img/Email.svg") no-repeat;
    background-position: left center;
    padding-left: 2em;
    font-size: 16px;
    font-weight: 400;
}