.carrossel__titulo{
    color: var(--cor--fonte--titulo);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper-pagination .swiper-pagination-bullet-active{
    background-color: var(--cor--azul);
}

.card__descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}


.descrição__titulo{
    color: var(--cor--fonte--titulo);
    font-size: 16px;
    font-weight: 700;
    
}

.descrição__titulo-livro{
    color: var(--cor--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.7em 0;
    line-height: 1.5;
}

.descrição__texto{
    color: var(--cor--azul);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.botoes__ancora{
    display: flex;
    text-decoration: none;
    padding: 1em 2.2em;
    font-size: 16px;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--cor--fonte--titulo);
    justify-content: center;
    align-items: center;

}

.descrição{
    margin: 0 1em 0 0;

}

.card__autor{
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;

}
.descrição__classificação{
    margin: 0 0 0.5em 0;
}

@media screen and (min-width: 1728px){
    .carrossel__titulo{
        font-size: 26px;
        padding: 2.3em 0 0.7em 0;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 50%;
    }

    .card{
        width: 40%;
        margin: 3em auto;
    }

    .card__autor{
        margin: 3em auto;
    }

}

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 36px;
    }

    .carrossel__container{
        display: flex;
        margin: 0 15vw 3em 15vw;
        align-items: center;
          
    }

    .swiper{
        margin-right: 4em;
        width: 45%;
    }

    .swiper-pagination{
        margin: 1em 0 ;
    }

    .swiper-slide{
        width: 40%;
        padding: 0 2em 1em 0;
    }

    .swiper-slide img{
        width: 8vw;
    }

    .descrição__titulo{
        font-size: 32px;
    }

    .card{
        width: 60%;
    }

}
