.topicos{
    background: var(--cor--fonte--azul);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo{
    font-size: 16;
    font-weight: 300;
    color: var(--branco);
    padding: 1em 0 2em 0;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__items{
    margin: 2em 0.7em;
}

.topicos__botoes{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--cor--fonte--titulo);
    padding: 1em;
    font-size: 16px;
    font-weight: 700;
}